<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastro de Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>

    <ion-item>
      <ion-input labelPlacement="floating" type="text" label="Nome: " [(ngModel)]="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="floating" type="email" label="Email:" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="floating" type="password" label="Senha: " [(ngModel)]="senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="floating" type="password" label="Confirme sua senha:" [(ngModel)]="confirmeSenha">
      </ion-input>
    </ion-item>

  </ion-card>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div>
          <ion-button expand="block" (click)="salvar()" color="dark">
            Adicionar
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <div>
          <ion-button routerLink="/home" color="dark" position="center">
            Home
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>