<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>create-produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

    <ion-item>
      <ion-input labelPlacement="floating" type="text" label="Nome: " [(ngModel)]="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="floating" type="text" label="Descrição:" [(ngModel)]="descricao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="floating" type="number" label="Preço: " [(ngModel)]="preco"></ion-input>
    </ion-item>

  </ion-card>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div>
          <ion-button expand="block" (click)="salvar()" color="dark">
            Adicionar
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div>
          <ion-button routerLink="/lista-produtos" color="dark">
            Lista de Produtos
          </ion-button>
        </div>
      </ion-col>
    </ion-row> 
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <div>
          <ion-button routerLink="/home" color="dark">
            Home
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>