<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lista-produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item *ngFor="let produto of listaProdutos">
    <ion-label>
      <h1>{{produto.titulo}}</h1>
      <p>{{produto.descricao}}</p>
      <p>{{produto.preco | currency:'BRL'}}</p>
    </ion-label>


    <ion-button color="warning" (click)="alterarProduto(produto.id!)">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>

    <ion-button color="danger" (click)="excluirProduto(produto.id!)">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>

  </ion-item>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div>
          <ion-button routerLink="/create-produto" color="dark" expand="block">
            Adicionar Produto
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <div>
          <ion-button routerLink="/lista-produtos" color="dark">
            Lista de Produtos
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>